    <%- include('cabecalho') %>
        <div class="container list-container">
            <h1>Admin</h1>
            <article>
                <ul>
                    <li><a href="/admin/categorias"><h3>Gerenciar Categoria </h3></a></li>
                    <li><a href="/admin/vagas"><h3>Gerenciar Vaga</h3></a></li>
                </ul>
            </article>
        </div>
    <%- include('footer') %>
