   <%- include('cabecalho') %>
        <div class="container list-container">
          <div class="form-vaga">
            <h1>Nova Vaga</h1>
             <form method="post">
               <label>Titulo</label><br>
               <input name="title"><br>
               <label>Descriaçao</label><br>
               <textarea name="desc"></textarea><br>
               <select name="categoria">
                  <% categorias.forEach(item => { %>
                     <option  value="<%- item.id %>"><%- item.categoria %></option>
                  <% })%>
               </select><br>
               <button type="submit">Salvar vaga</button>
             </form>
          </div>
        </div>
    <%- include('footer') %>