   <%- include('cabecalho') %>
        <div class="container list-container">
          <div class="form-vaga">
            <h1>Nova Categoria</h1>
             <form method="post">
               <label>Titulo</label><br>
               <input name="categoria"><br>
               <button type="submit">Salvar Categoria</button>
             </form>
          </div>
        </div>
    <%- include('footer') %>