<!DOCTYPE html>
<html lang="pt=br">
<head>
  <title>Jobify</title>
  <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,700,900" rel="stylesheet">
  <link rel="stylesheet" href="/css/style.css"/>
</head>
<body>
    <header>
     <div class="container">
        <nav>
              <span class="brand">
              <img class="navbar-brand" src="/images/logo-white.png"/>
              </span>
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">Sobre</a></li>
                <li><a href="#">Trabalho</a></li>
                <li><a href="#">Remoto</a></li>
                <li><a href="#">Vagas</a></li>
            </ul>
        </nav>
      </div>
    </header>
    <section class="first-main">
      <div class="first-content">
        <button class="cta">Saiba Mais</button>
      </div>
    </section>