<%- include('inc/cabecalho') %>

    <section class="second-main">
      <div class="second-content">
        <h2 class="second-title">Open Rules</h2>
      </div>
      <div class="container list-container">
          <article>
            <h3>Enginering Team</h3>
            <ul>
               <li><a href="vaga">Fullstack Developer (remote)</a></li>
            </ul>
          </article>
          <article>
            <h3>Marketing Team</h3>
            <ul>
               <li><a href="vaga">Fullstack Developer (remote)</a></li>
            </ul>
          </article>
          <article>
            <h3>Developer Team</h3>
            <ul>
               <li><a href="vaga">Devops (remote)</a></li>
            </ul>
          </article>
          <article>
            <h3>Developer Team</h3>
            <ul>
               <li>Devops (remote)</a></li>
            </ul>
          </article>
          <article>
            <h3>Developer Team</h3>
            <ul>
               <li><a href="vaga">Devops (remote)</a></li>
            </ul>
          </article>
          <article>
            <h3>Developer Team</h3>
            <ul>
               <li><a href="vaga">Devops (remote)</a></li>
            </ul>
          </article>
          <article>
            <h3>Developer Team</h3>
            <ul>
               <li><a href="vaga">Devops (remote)</a></li>
            </ul>
          </article>
           <article>
            <h3>Developer Team</h3>
            <ul>
               <li><a href="vaga">Devops (remote)</a></li>
            </ul>
          </article>
      </div>
    </section>

<%- include('inc/footer') %>