<%- include('inc/cabecalho') %>


    <section class="second-main">
      <div class="second-content">
        <h2 class="second-title">Vaga</h2>
      </div>
      <div class="container list-container">
          <article>
              <h2><%- vaga.title %></h2>
              <ul class="list-vaga">
                    <li><a href="#"> <h3><%- vaga.desc %></h3></a></li>
              </ul>
            </article>
      </div>
    </section>

<%- include('inc/footer') %>