<%- include('inc/cabecalho') %>


    <section class="second-main">
      <div class="second-content">
        <h2 class="second-title">Vaga</h2>
      </div>
      <div class="container list-container">
          <h1>Saiba mais da sua vaga</h1>
      </div>
    </section>

<%- include('inc/footer') %>